@page
@model ProjectChocoMil.Pages.ExpenseTrackerModel
@{ ViewData["Title"] = "Expense Tracker"; }

<link rel="stylesheet" href="~/css/StyleSheet.css" />

<h1>Expense Tracker</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <label title="Hello this is a test" />
        </div>
        <div class="col">
            <textarea id="monies" />
        </div>
        <div class="col">
            <button id="btnEnter" title="Enter"></button>
        </div>
    </div>
</div>
